/* Estilos generales de la tarjeta */
.card {
  position: relative;
  /* Tus otros estilos de .card van aquí */
}

/* Estilos para el ícono en la cabecera de la tarjeta */
.card-header .icon-wrapper {
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border: 3px solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el ícono dentro del círculo */
.icon-wrapper i {
  color: #666;
}

/* Ajustes adicionales para la cabecera de la tarjeta para hacer espacio para el ícono */
.card-header {
  padding-top: 2rem;
}

/* Estilos opcionales para añadir una sombra al círculo del ícono */
.icon-wrapper {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-menu {
  min-height: 170px;
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 15px;
}

.card-container .card {
  flex: 0 0 auto;
}

/* Estilos específicos para las tarjetas con la clase card-styled */
.card-styled {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px; /* Altura fija para todas las tarjetas */
}

.card-styled .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-styled .card-text {
  font-size: 1rem;
  text-align: center; /* Asegura que el texto esté centrado */
}

.card-styled .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-styled .card-body h5, 
.card-styled .card-body p {
  margin: 0;
}

.loading-screen {
  z-index: 99999;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
 z-index: 1000; /* High z-index to cover everything */
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 flex-direction: column;
}

.loading-text {
 color: #fff;
 font-size: 20px;
 margin-bottom: 20px;
}

.dots {
 display: flex;
 align-items: center;
}

.dot {
 background-color: #f0f0f0;
 border-radius: 50%;
 width: 20px;
 height: 20px;
 margin: 0 5px;
 /* Animation */
 animation: bounce 0.6s infinite alternate;
}

.dot:nth-child(1) {
 animation-delay: 0.1s;
}

.dot:nth-child(2) {
 animation-delay: 0.2s;
}

.dot:nth-child(3) {
 animation-delay: 0.3s;
}

@keyframes bounce {
 0% { transform: translateY(0); }
 100% { transform: translateY(-20px); }
}

/* Estilos existentes para la pantalla de carga */
.loading-screen {
 /* ... */
 z-index: 1500; /* Este valor debería ser mayor que el z-index del modal y su backdrop */
 display: flex; /* Se muestra como flex para centrar el contenido */
 justify-content: center;
 align-items: center;
}

/* Estilos adicionales para asegurar visibilidad */
body, html {
 overflow: visible; /* Asegúrate de que no haya overflow hidden en el cuerpo o html */
}

/* Asegúrate de que no haya otros elementos con un z-index mayor interrumpiendo */
.any-other-overlay {
 z-index: 1400; /* Menor que el loader */
}

/** _ESTYLOS PARA EL EFECTO DE CARGA ANTES DE QUE MUESTREN LOS DATOS SE UTLIZA PRA QUE 


/* Aplicar estilos sticky solo en pantallas pequeñas */
@media (max-width: 768px) {
  th:first-child, td:first-child {
      position: sticky;
      color: aliceblue;
      left: 0;
      background-color: rgb(52, 70, 96); /* o el color de fondo de tu tabla */
      z-index: 100;
  }
  
  
    /* Asegúrate de que la tabla se pueda desplazar horizontalmente */
    .table-fixed {
      overflow-x: auto;
      display: block;
    
    }
  /* Estilos para los encabezados y celdas de la tabla */
  .table-fixed th,
  .table-fixed td {
      border: 1px solid #ddd; /* Cambia #ddd al color de borde que prefieras */
   padding: 8px; /* Ajusta el padding según necesites */
 }
 /* Asegurar que la primera columna tenga un ancho fijo y el texto se ajuste */
 .table-fixed thead th:first-child, 
 .table-fixed tbody td:first-child {
   width: 150px; /* Establece el ancho que desees para la primera columna */
   min-width: 150px; /* Establece un ancho mínimo igual al ancho fijo */
   max-width: 150px; /* Establece un ancho máximo igual al ancho fijo */
   white-space: normal; /* Permite que el texto se ajuste en la celda */
   word-wrap: break-word; /* Permite que las palabras largas se rompan y pasen a la siguiente línea */
 }
 .text-mobile-white {
    color: #fff !important; /* Agrega !important para asegurar que sobreescribe otras clases */
  }
  .text-th{
      background-color: rgb(52, 70, 96); 
  }
}


/* Media query para aplicar estilos solo en pantallas de escritorio */
@media screen and (min-width: 1024px) {
/* _ESTILOS PARA QUE LA TABLA LLENE SU CONTENEDOR Y EL ENCABEZADO SE MANTENGA FIJO */
.table-fixed {
  width: 100%;
  table-layout: fixed;
}

.table-fixed thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.table-fixed tbody {
  display: block;
  max-height: 480px;
  overflow-y: scroll;
}

.table-fixed thead,
.table-fixed tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-fixed tbody tr {
  margin-bottom: 10px;
}

.table-fixed td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

.table-fixed td {
  white-space: normal;
  word-wrap: break-word;
}

.table-fixed thead th:nth-child(2),
.table-fixed thead th:nth-child(3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

/* cambiar el cursor a una mano */
}
.cursor-pointer {
cursor: pointer;
}

.skeleton {
animation: skeleton-loading 1.5s infinite linear;
background: linear-gradient(90deg, #f0f0f0, #e0e0e0, #f0f0f0);
background-size: 200% 100%;
opacity: 0.7;
}

@keyframes skeleton-loading {
0% {
    background-position: 200% 0;
}

100% {
    background-position: -200% 0;
}
}

.skeleton-text {
color: transparent !important;
/* Hace el texto transparente */
}

.skeleton-label {
color: transparent !important;
/* Asegura que el texto se vuelva transparente */
animation: skeleton-loading 1.5s infinite linear;
background: linear-gradient(90deg, #f0f0f0, #e0e0e0, #f0f0f0);
background-size: 200% 100%;
opacity: 0.7;
}

.skeleton-img {
filter: blur(8px);
/* Opcional: Puedes ajustar esto para que se adapte mejor a tu diseño */
width: 350px;
/* Establece el ancho deseado para la imagen */
height: 370px;
/* Mantiene la relación de aspecto de la imagen */


}
/** FINAL DEL EFECTO DE CARGA */

/** STILOS DE LA IMAGEN DEL MODAL SOLICITUD  */
.card-img-modal img {
width: 350px;
/* Establece el ancho deseado para la imagen */
height: 370px;
/* Establece la altura deseada para la imagen */
object-fit: cover;
/* La imagen cubrirá el área disponible, se cortará si es necesario */
display: block;
/* Elimina cualquier espacio extra debajo de la imagen */
}

.label-loading {
color: transparent;
}
/** FINAL ESTILOS DE LA IMAGEN DEL MODAL SOLICITUD  */


/** ESTILOS DE LA MODAL IMAGEN FULL*/

legend.scheduler-border {
font-size: 1.2em !important;
font-weight: bold !important;
text-align: left !important;
}


.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: rgba(0, 0, 0, 0.5);
}

.image-container:hover .overlay {
opacity: 1;
}

.view-btn {
color: white;
font-size: 20px;
/* Tamaño del icono de la lupa */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}
.mi-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1050;
    border-radius: 50%;
    /* Circular completo */
    background: white;
    /* Fondo azul */
    color: black;
    /* 'X' de color blanco */
    width: 40px;
    /* Tamaño del círculo */
    height: 40px;
    display: flex;
    align-items: center;
    /* Centrar 'X' verticalmente */
    justify-content: center;
    /* Centrar 'X' horizontalmente */
    cursor: pointer;
    border: none;
    /* Sin bordes */
    font-size: 1.5rem;
    /* Tamaño del icono 'X' */
    line-height: 1;
    /* Asegurar que el 'X' no tenga espacio extra arriba/abajo */
    padding: 0;
    /* Eliminar padding para que 'X' no desplace el botón */
}


.mi-modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100vh;
    /* Usar el 100% de la altura de la pantalla */
    max-width: none;
    /* Para que no tenga un ancho máximo */
}

.mi-modal-content {
    height: 100vh;
    /* Usar el 100% de la altura de la pantalla */
    background: rgba(0, 0, 0, 0.85);
    /* Fondo semi-transparente */
    border: none;
    /* Sin borde */
    border-radius: 0;
    /* Sin bordes redondeados */
    display: flex;
    /* Usar flexbox para centrar la imagen */
    align-items: center;
    /* Centrar verticalmente */
    justify-content: center;
    /* Centrar horizontalmente */
}

.mi-modal-body {
    padding: 0;
    /* Sin padding para que la imagen pueda ser más grande */
}

.mi-modal-img {
    max-height: 90vh;
    /* Máximo altura de la imagen */
    max-width: 100%;
    /* Máximo ancho de la imagen */
}
/** FINAL ESTILOS DE LA MODAL IMAGEN FULL*/


 /* CSS personalizado para aplicar w-100 solo en pantallas pequeñas */
 .btn-responsive {
   width: 100%;
 }
 @media (min-width: 900px) {
   .btn-responsive {
     width: auto;
   }
 }
